{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
{{!-- template-lint-disable link-href-attributes--}}
<a class="menu-trigger" ...attributes>
  {{yield}}
</a>