@import 'denali/denali';
@import 'denali/ember-power-select';

.denali-loader-inverse-example {
  background: black;
  width: 30px;
}

.denali-title-examples {
  margin-left: 30px;
}

.denali-title-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.denali-title {
  margin-top: 10px;
}

.denali-toggle-inverse-example {
  background: black;
  width: 300px;
  height: 70px;
  padding: 10px;
}
