{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="tabs is-horizontal {{this.styleClass}}" ...attributes>
  <ul>
    {{yield (hash Tab=(component "denali-tabs/tab") LinkToTab=(component "denali-tabs/link-to-tab"))}}
  </ul>
</div>