{{! Copyright 2021, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="tags" ...attributes>
  {{yield (hash Tag=(component "denali-tags/tag"))}}
</div>