{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<table class="table
  {{this.stripedClass}}">
  <tbody>
    {{yield (hash
      tr=(component "denali-table/row")
    )}}
  </tbody>
</table>