{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<div class="tabs {{this.styleClass}} {{this.alignmentClass}}" ...attributes>
  <ul>
    {{yield (hash
      Tab=(component "denali-tabs/tab")
      LinkToTab=(component "denali-tabs/link-to-tab")
    )}}
  </ul>
</div>