{{! Copyright Yahoo 2021. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<table class="table {{this.isStripedClass}} {{this.isCardsClass}}" ...attributes>
  {{yield
    (hash
      Header=(component "denali-table/head")
      Body=(component "denali-table/body")
      Footer=(component "denali-table/footer")
    )
  }}
</table>