<DenaliNavbar @isResponsive={{true}} as |Nav|>
  <Nav.Left as |Left|>
    <Left.Logo @src='https://denali.design/assets/images/denali-logo.png' />
  </Nav.Left>
  <Nav.Right as |Right|>
    <a href='https://github.com/denali-design/denali-ember'>
      <Right.Icon @icon='github' @name='GitHub' />
    </a>
  </Nav.Right>
</DenaliNavbar>
{{outlet}}