<h2>DenaliTextArea</h2>
<DenaliTextArea />
<br>

<h2>Input States</h2>
<DenaliTextArea disabled={{true}} placeholder="Disabled Input" />
<DenaliTextArea @state="active" placeholder="Active Input" />
<DenaliTextArea @state="warning" placeholder="Input with warning" @warningMsg="Invalid Input" />