<h2>Modals</h2>

<h3>Simple Modal</h3>

<button type="button" {{on "click" (fn (mut this.isOpen) true)}}>Click for Modal</button>

<DenaliModal
  class="denali-modal"
  @isOpen={{this.isOpen}}
  @onClose={{fn (mut this.isOpen) false}}
  as | modal |
>
  <modal.Header>Header</modal.Header>
  <modal.Content>Simple Modal Content</modal.Content>
  <modal.Footer>Footer</modal.Footer>
</DenaliModal>