<h2>Menu</h2>

<h3>Simple Menu</h3>
<DenaliMenu as |Menu|>
  <Menu.Trigger>Hover for default Menu</Menu.Trigger>
  <Menu.Content>
    <span class="link">Home</span>
    <span class="link">About</span>
    <span class="link">Contact</span>
    <span class="link">Help</span>
    <hr>
    <span class="link">Support</span>
  </Menu.Content>
</DenaliMenu>

<h3>Alignment</h3>

<h4>Left</h4>

<DenaliMenu @alignContent="left" as | Menu |>
  <Menu.Trigger>Left Aligned Menu</Menu.Trigger>
  <Menu.Content>
    <ul>
      <li>User guide</li>
      <li>Follow us on jive</li>
      <li>Send Feedback</li>
      <hr>
      <li>Support</li>
    </ul>
  </Menu.Content>
</DenaliMenu>

<h3>Right</h3>

<DenaliMenu @alignContent="right" as | Menu |>
  <Menu.Trigger>Right Aligned Menu</Menu.Trigger>
  <Menu.Content>
    <p class="is-bold">Link copied to clipboard</p>
    <a class="is-small is-sub" href="https://denali.design/">
      https://denali.design/
      <i class="d-icon d-external is-extrasmall"></i>
    </a>
  </Menu.Content>
</DenaliMenu>