<h2>Simple Link</h2>
<DenaliLink>Click Here</DenaliLink><br>
<DenaliLink @isSecondary={{true}}>Secondary Link</DenaliLink><br>
<DenaliLink @isSub={{true}}>Sub Link</DenaliLink><br>
<DenaliLink @isSub={{true}} @secondary={{true}}>Secondary Sub Link</DenaliLink>

<h2>Link States</h2>
<DenaliLink @state="active">Active Link</DenaliLink><br>
<DenaliLink @state="disabled">Disabled Link</DenaliLink>

<h2>Link Sizes</h2>
<DenaliLink @size="small">Small Link</DenaliLink>

<br>
<h2>Icons</h2>
<DenaliLink @iconFront="add-circle">Add</DenaliLink><br>
<DenaliLink  @iconBack="external">External</DenaliLink><br>