{{! Copyright 2020, Verizon Media. Licensed under the terms of the MIT license. See accompanying LICENSE.md file for terms. }}
<h2>Sizes</h2>
<DenaliLoader @size="extrasmall" />
<DenaliLoader @size="small" />
<DenaliLoader @size="medium" />
<DenaliLoader @size="large" />
<h2>Inverse</h2>
<div class="denali-loader-inverse-example"><DenaliLoader @isInverse={{true}} /></div>