<h1>Tabs</h1>
<p>Tabs provide additional navigation within a page or sub section of a page. They are available in primary and secondary styles.</p>

<hr>

<h3>Primary</h3>
<h4>Horizontal</h4>
<DenaliTabs as |Tabs|>
  <Tabs.Tab>One</Tabs.Tab>
  <Tabs.Tab>Two</Tabs.Tab>
  <Tabs.Tab>Three</Tabs.Tab>
  <Tabs.Tab>Four</Tabs.Tab>
</DenaliTabs>

<h4>Vertical</h4>
<DenaliTabs
  @alignment="vertical"
  as |Tabs|
>
  <Tabs.Tab>One</Tabs.Tab>
  <Tabs.Tab>Two</Tabs.Tab>
  <Tabs.Tab>Three</Tabs.Tab>
  <Tabs.Tab>Four</Tabs.Tab>
</DenaliTabs>

<h3>Secondary</h3>
<h4>Horizontal</h4>
<DenaliTabs
  @style="secondary"
  as |Tabs|
>
  <Tabs.Tab>One</Tabs.Tab>
  <Tabs.Tab>Two</Tabs.Tab>
  <Tabs.Tab>Three</Tabs.Tab>
  <Tabs.Tab>Four</Tabs.Tab>
</DenaliTabs>