<h2>Checkbox</h2>

<DenaliCheckbox>Simple Checkbox</DenaliCheckbox> <br>
<DenaliCheckbox checked={{true}}>Checked Checkbox</DenaliCheckbox> <br>
<DenaliCheckbox disabled={{true}}>Disabled Checkbox</DenaliCheckbox> <br>
<DenaliCheckbox data-partial={{true}}>Partial Data Checkbox</DenaliCheckbox> <br>