<DenaliBox as |Box|>
  <Box.Header>Header</Box.Header>
  <Box.SubHeader>Sub Header</Box.SubHeader>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
  <Box.Footer>This is a footer.</Box.Footer>
</DenaliBox>